.vs-header {
	position: relative;
	z-index: 41;
}

.header-logo {
	max-width: 270px;
	padding: 10px 0;
}
.header-text {
	font-size: 12px;
	font-weight: 500;
	color: #e5e4e4;
	margin: 0;
	padding: 12px 0;
}

.header-icons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.header-icons button:not([class*="vs-"]),
.header-icons a:not([class*="vs-"]) {
	border: none;
	padding: 0;
	line-height: 1;
	font-size: 24px;
	color: var(--title-color);
	background-color: rgba(0, 0, 0, 0);
}

.header-icons button:not([class*="vs-"]):hover,
.header-icons a:not([class*="vs-"]):hover {
	color: var(--theme-color);
}


.header-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-links li {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: var(--title-color);
	font-family: var(--title-font);
	padding: 0 30px 0 0;
	margin: 0 26px 0 0;
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	line-height: 23px;
	line-height: 1;
}

.header-links li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

.header-links i {
	color: var(--theme-color);
	margin: 0 10px 0 0;
}

.header-links a {
	color: inherit;
}

.header-links a:hover {
	color: var(--theme-color);
}

.header-links.style-white li {
	color: var(--white-color);
	border-color: rgba(255, 255, 255, 0.4);
}

.header-links.style-white li a:hover {
	color: var(--white-color);
	text-decoration: underline;
}

.header-links.style-white li i {
	color: var(--white-color);
}

.header-layout2 .menu-area {
	position: relative;
}


.header-layout2 .will-sticky .menu-inner {
	background-color: var(--white-color);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
}
